server {
    listen {{ listen }};
    server_name {{ server_name }};
    {% for location in locations %}
    location {{ location.path }} {
        return {{ location.status_code }} "{{ location.message }}";
    }
    {% endfor %}

}